:root {
  --content-width: 600px;
}

body {
  background-color: rgb(17, 17, 16);
  margin: 30px auto;
}

#container {
  display: grid;
  grid-gap: 0.05em;  
  width: 75vw;
  height: 75vw;
  position: absolute;
  margin: 30px auto;
  max-height: var(--content-width);
  max-width: var(--content-width);
  padding-left: 640px ;
}

.griditem {
  border: 0.5px solid #ddd;
  text-align: center;
  background-color: rgb(9, 9, 172);
}

.clearButton{
  margin: auto;
  width: 125.406px;
  height: 34px;
  margin-left: 810px ;
}

.newgridButton{
  margin: auto;
  width: 125.406px;
  height: 34px;
}

